/* Add the font-family here */
@font-face {
    font-family: 'Raster Forge';
    src: url('fonts/RasterForge.ttf') format('truetype');
}

@font-face {
    font-family: 'CS Degita';
    src: url('fonts/CS Degita.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CS Degita', sans-serif;
    line-height: 1.6;
    background-color: #ffbff4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    font-family: 'Raster Forge', sans-serif;  /* Use the Raster Forge font for the header */
    color: hotpink;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 28px;
    font-family: 'Raster Forge', sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    color: #34495e;
}

section ul {
    list-style-type: none;
}

section ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #7f8c8d;
}

footer p {
    margin: 10px;
}

#whats-inside ul {
    padding-left: 20px;
}

#join {
    text-align: center;
    background-color: hotpink;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

#join h2 {
    font-size: 28px;
    font-family: 'RAster Forge', sans-serif;
    margin-bottom: 10px;
}

#join p {
    font-size: 18px;
}
